.vscode
node_modules
package-lock.json
assets/fontawesome
bootstrap-sass
assets/image/4x
assets/image/1x
assets/sass/vendor/select2
peerjs-server/
dist
SERVER-CHAT/public/font/.DS_Store

SERVER-CHAT/public/font/font-awe/.DS_Store

SERVER-CHAT/public/font/font-awe/svgs/.DS_Store

SERVER-CHAT/public/font/IconFont/.DS_Store

SERVER-CHAT/public/image/.DS_Store

public/uploads/
